.container{
    padding-left: 32%;
    width: 800px;
    padding-top: 5%;
    padding-bottom:150px;
}
.head{
    width: 600px;
    font-size: 40px;
}
.text{
    width: 600px;
}
.CCTV{
    width: 820px;
}