
.appContentWrap{
    margin-top: 40%;
    margin-bottom: 10%;
    padding-left: 30%;
    width: 800px;
    padding-top: 50px;
    padding-bottom:300px;
    align-items: center;

}
.head{
    width: 600px;
}
div.temperature{
    font-size: 40px; 
}
.crop{
    color: #8D8C8F;
    font-size: 20px;
}