.txt0{
    object-fit: cover;
    width: 26%;
    margin-left: 18%;
    margin-top: 3%;
}
.slide0{
    object-fit: cover;
    width: 13%;
    margin-left: 61%;
    margin-top: -9%;
} 
.slide2{
    object-fit: cover;
    width: 13%;
    margin-left: 63%;
    margin-top: -9.3%;
} 
.slide3{
    object-fit: cover;
    width: 13%;
    margin-left: 63%;
    margin-top: -9.3%;
} 
.slide4{
    object-fit: cover;
    width: 13%;
    margin-left: 63%;
    margin-top: -9.3%;
} 
.slide5{
    object-fit: cover;
    width: 8%;
    margin-left: 11%;
    margin-top: 1%;
} 
.slide6{
    object-fit: cover;
    width: 8%;
    margin-left: 11%;
    margin-top: 1%;
} 