.slide0{
    object-fit: cover;
    width: 8%;
    margin-left: 11%;
    margin-top: 1%;
} 
.slide2{
    object-fit: cover;
    width: 8%;
    margin-left: 11%;
    margin-top: 1%;
} 
.slide3{
    object-fit: cover;
    width: 8%;
    margin-left: 11%;
    margin-top: 1%;
} 
.slide4{
    object-fit: cover;
    width: 8%;
    margin-left: 11%;
    margin-top: 1%;
} 
.slide5{
    object-fit: cover;
    width: 8%;
    margin-left: 11%;
    margin-top: 1%;
} 
.slide6{
    object-fit: cover;
    width: 8%;
    margin-left: 11%;
    margin-top: 1%;
} 